# Deployed App
/www/
/node_modules/
/coverage/
/.nyc_output/

/client/res/dist/
/client/**/*.map
/client/vendors/
/client/publish/

# Cordova
platforms/*
plugins/*
runtime/*
tools/*
frameworks/*

# Other
*.doc
.idea
*.log
